@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, ins, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  z-index: 1000;
  background: #142127;
  padding: 30px 12px;
}
.navbar__title {
  display: flex;
  width: auto;
  height: auto;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
}
.navbar__title-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 5px 5px;
  text-transform: uppercase;
  user-select: none;
}
.navbar__menu-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.navbar__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  transition: background 0.3s;
}
.navbar__menu-item:hover {
  background: rgba(236, 240, 244, 0.19);
}
.navbar__menu-item.active {
  background: #254652;
}
.navbar__menu-item.active span {
  font-weight: 600;
}
.navbar__menu-item-text {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  letter-spacing: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
.navbar__menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
}
.navbar__menu-wrapper.active {
  background-color: #254652;
}
.navbar__sub-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar__sub-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 8px;
  transition: background 0.3s;
}
.navbar__sub-menu-item:hover {
  background: rgba(236, 240, 244, 0.19);
}
.navbar__sub-menu-item.active span {
  font-weight: 600;
}
.navbar__sub-menu-item-text {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  letter-spacing: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

.content {
  width: calc(100% - 280px);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 280px;
  padding: 40px;
  padding-top: 100px;
  background: rgb(236, 240, 244);
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s;
}
.modal .modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  width: 330px;
  height: 165px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s;
}
.modal .modal__content .modal__message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f8f8f8;
}
.modal .modal__content .modal__message-container .modal__message {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  white-space: nowrap;
  text-align: center;
}

.modal.confirm .modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: #7749f8;
  transition: background-color 0.3s;
}
.modal.confirm .modal__close-button:hover {
  background-color: #5f3dc4;
}

.modal.select .modal__button-container {
  display: flex;
  width: 100%;
  height: 45px;
}
.modal.select .modal__button-container .modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s;
}
.modal.select .modal__button-container .modal__button.confirm {
  color: #fff;
  background-color: #7749f8;
}
.modal.select .modal__button-container .modal__button.confirm:hover {
  background-color: #5f3dc4;
}
.modal.select .modal__button-container .modal__button.cancel {
  color: #111;
  background-color: #ddd;
}
.modal.select .modal__button-container .modal__button.cancel:hover {
  background-color: #bbb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login__wrapper h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.login__wrapper .login__form-container {
  display: flex;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: #e9e9e9;
  padding: 0 60px;
  gap: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.login__wrapper .login__form-container .login__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: 30px;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper label {
  font-size: 1.5rem;
  font-weight: 600;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper input {
  width: 300px;
  height: 50px;
  padding: 0 15px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login__wrapper .login__form-container .login__button {
  width: 170px;
  height: 130px;
  background-color: #1b3133;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}
.login__wrapper .login__form-container .login__button:hover {
  background-color: #1e5558;
}

.select__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 35px;
}
.select__button button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #1b3133;
  background: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background 0.3s, color 0.3s;
}
.select__button button:hover {
  background-color: #1b3133;
  color: #fff;
}
.select__button .used__button {
  border-right: none;
  border-top-left-radius: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 200px;
}
.select__button .not-used__button {
  border-top-left-radius: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 0;
}
.select__button button.active {
  background-color: #1b3133;
  color: #fff;
}

.used__table,
.not-used__table {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-collapse: collapse;
  overflow-y: auto;
  background-color: #fff;
  margin-top: 20px;
  border-collapse: collapse;
}
.used__table thead,
.used__table tbody,
.not-used__table thead,
.not-used__table tbody {
  width: 100%;
  border-collapse: collapse;
}
.used__table thead tr,
.used__table tbody tr,
.not-used__table thead tr,
.not-used__table tbody tr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
}
.used__table thead tr th,
.used__table thead tr td,
.used__table tbody tr th,
.used__table tbody tr td,
.not-used__table thead tr th,
.not-used__table thead tr td,
.not-used__table tbody tr th,
.not-used__table tbody tr td {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.used__table th,
.not-used__table th {
  font-weight: 600;
}
.used__table td,
.not-used__table td {
  font-weight: 500;
}

.used__table th,
.used__table td {
  width: 33.33%;
}

.not-used__table th,
.not-used__table td {
  width: 100%;
}

.add-article__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60px;
  border-radius: 8px;
  background-color: #1b3133;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background 0.3s;
}
.add-article__button:hover {
  background: #1e5558;
}

.article__item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.article__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  gap: 20px;
}
.article__item-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 180px;
  padding: 20px;
  gap: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.article__item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.article__item-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}
.article__button-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  gap: 10px;
}
.article__button-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 6px;
  background-color: #1b3133;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background 0.3s;
}
.article__button-wrapper button:hover {
  background: #1e5558;
}

.add-form__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
  gap: 50px;
}
.add-form__title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 30px;
}
.add-form__title-wrapper h2 {
  white-space: nowrap;
}
.add-form__title-wrapper input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
}
.add-form__content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 400px;
  gap: 30px;
}
.add-form__content-wrapper h2 {
  white-space: nowrap;
}
.add-form__content-wrapper textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  resize: none;
  word-break: break-all;
}
.add-form__content-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 20px;
}
.add-form__button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70px;
}
.add-form__button-wrapper input,
.add-form__button-wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 100%;
  border-radius: 6px;
  background-color: #1b3133;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background 0.3s;
}
.add-form__button-wrapper input:hover,
.add-form__button-wrapper button:hover {
  background: #1e5558;
}
.add-form__button-wrapper .image-file__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #142127;
  font-size: 1.2rem;
  font-weight: 500;
  transition: background 0.3s;
}

.kakao-url__container {
  display: flex;
  width: 100%;
  align-items: center;
  height: fit-content;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 40px 30px;
  gap: 40px;
  margin-top: 20px;
}
.kakao-url__title {
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
}
.kakao-url__input-form {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.category__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.category__select-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category__select-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-bottom: none;
  border-collapse: collapse;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.category__select-button:hover {
  background-color: #1e5558;
  color: #fff;
  border: 1px solid #1e5558;
}
.category__select-button.active {
  background-color: #1b3133;
  color: #fff;
  border: 1px solid #1b3133;
}
.category__content {
  display: flex;
  width: 100%;
  height: calc(100% - 60px);
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-top: none;
  border-collapse: collapse;
  background-color: #1b3133;
  padding: 30px;
  gap: 20px;
}
.category__select-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.category__depth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border-right: 1px solid #142127;
  border-collapse: collapse;
}
.category__depth-add-button {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
  transition: background-color 0.3s;
}
.category__depth-add-button:hover {
  background-color: #e0e0e0;
}
.category__depth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #142127;
  font-size: 1.2rem;
  font-weight: 600;
}
.category__depth-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 60px);
  gap: 20px;
  padding: 20px 0;
  overflow-y: auto;
}
.category__depth-select-title-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.category__depth-select-title-wrapper img {
  position: absolute;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: opacity 0.3s;
}
.category__depth-select-title-wrapper img:hover {
  opacity: 0.7;
}
.category__depth-select-title {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
}
.category__depth-select-title.active {
  font-weight: 600;
}
.category__edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 80px;
  background-color: #f8f8f8;
  color: #142127;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.3s;
}
.category__edit-button:hover {
  background-color: #d3d3d3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
