@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, ins, a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Normalize */
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 290px;
  height: 100%;
  z-index: 1000;
  background: #142127;
  padding: 30px 12px;
}
.navbar__title {
  display: flex;
  width: auto;
  height: auto;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
}
.navbar__title-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 5px 5px;
  text-transform: uppercase;
  user-select: none;
}
.navbar__menu-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.navbar__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  border-radius: 8px;
  transition: background 0.3s;
}
.navbar__menu-item:hover {
  background: #254652;
}
.navbar__menu-item--active {
  background: rgba(236, 240, 244, 0.19);
}
.navbar__menu-item--active span {
  font-weight: 600;
}
.navbar__menu-item-text {
  color: #fff;
  font-size: 1.05rem;
  font-weight: 400;
  user-select: none;
  white-space: nowrap;
  letter-spacing: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.3s;
}
.modal .modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  width: 330px;
  height: 165px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s;
}
.modal .modal__content .modal__message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f8f8f8;
}
.modal .modal__content .modal__message-container .modal__message {
  font-size: 1rem;
  font-weight: 500;
  color: #111;
  white-space: nowrap;
  text-align: center;
}
.modal .modal__content .modal__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: #7749f8;
  transition: background-color 0.3s;
}
.modal .modal__content .modal__close-button:hover {
  background-color: #5f3dc4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}
.login__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login__wrapper h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.login__wrapper .login__form-container {
  display: flex;
  align-items: center;
  width: 800px;
  height: 500px;
  background-color: #e9e9e9;
  padding: 0 60px;
  gap: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}
.login__wrapper .login__form-container .login__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  gap: 30px;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper label {
  font-size: 1.5rem;
  font-weight: 600;
}
.login__wrapper .login__form-container .login__input-container .input__wrapper input {
  width: 300px;
  height: 50px;
  padding: 0 15px;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login__wrapper .login__form-container .login__button {
  width: 170px;
  height: 130px;
  background-color: #1b3133;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}
.login__wrapper .login__form-container .login__button:hover {
  background-color: #1e5558;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: -100px;
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
